<ion-header>
  <ion-toolbar color="Warning">
<ion-title>Home</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-label>Date Today</ion-label>
    <ion-datetime displayFormat="MM/DD/YY" placeholder="Select Date"></ion-datetime>
  </ion-item>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="content">
      <ion-card-subtitle color="dark">Hello</ion-card-subtitle>
      <ion-card-title>Welcome!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="content">
      Using our lifestyle app Some of the monitoring/tracking capabilities that many fitness and health apps include are heart rate tracking, weight loss progression, daily footsteps, how far you have traveled, your average running speed, healthy meal plans, calorie counter for daily intake, calorie loss during exercise, 
    </ion-card-content>

    
  </ion-card>

  <ion-card class="card">
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>lifestyleapp</ion-label>
      <ion-button fill="outline" slot="end" href="Education">View</ion-button>
    </ion-item>
  
    <ion-card-content class="card">
      To learn more, click the view to go to education!
    </ion-card-content>
  </ion-card>
</ion-content>

  <ion-card>
    <ion-item href="login" class="ion-activated">
      <ion-icon name="exit" slot="start"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-item>
  </ion-card>
