<ion-header>
  <ion-toolbar color="primary">
<ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>What is life style app?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Mobile application development does not stand still and there is a whole new trend of apps for iOS and
      Android – Lifestyle, which make life easier for users and effective in its various spheres. There are lifestyle
      mobile apps which help business people to conduct business, applications for future mothers, applications
      for travelers and also for people who pay attention to a healthy lifestyle, etc.
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-label>Name of Developer: Ace Hernandez</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Date Publish: 10/16/2021</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Resources: Modules</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Hardware: PC/Windows 10</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Software: Visual Studio</ion-label>
    </ion-item>
  </ion-list>
</ion-content>